<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: dochead"></head>
	<body>
		<header th:replace="template :: headNavBar"></header>
		
		<h1>Checkout</h1>
		<div th:each="item : ${items}">
		
			<div class="col-xs-12 col-sm-12">
				<div class="col-xs-12 col-sm-3"><h3 th:text="${item.item}">item</h3></div>
			  	<div class="col-xs-12 col-sm-3"><h3 th:text="${item.notes}">notes</h3></div>
			  	<div class="col-xs-12 col-sm-3"><h3 th:text="${item.price}">price</h3></div>
			  	<div class="col-xs-12 col-sm-3"><h3 th:text="${quantity}">quantity</h3></div>
			</div>
			
		</div>
		<div class="col-xs-12 col-sm-12">
			<div class="col-xs-12 col-sm-9"></div>
			<div class="col-xs-12 col-sm-3"><h3>Subtotal: ( <span th:text="${numberOfItems}"></span> items): $<span th:text="${subtotal}"></span></h3></div>
		</div>
		<div class="col-xs-12 col-sm-12">
			<div class="col-xs-12 col-sm-9"></div>
			<div class="col-xs-12 col-sm-3"><h3>Tax: $<span th:text="${tax}"></span></h3></div>
		</div>
		<div class="col-xs-12 col-sm-12">	
			<div class="col-xs-12 col-sm-9"></div>
			<div class="col-xs-12 col-sm-3"><h3>Total: $<span th:text="${total}"></span></h3></div>
		</div>
		
		<div th:replace="template :: footNavBar"></div>
	</body>
</html>